<div class="container">
  <div class="form">
    <%= simple_form_for(suit) do |f| %>
      <%= f.input :name, placeholder: "eg. Luxury slim-fit suit perfect for big occassions!" %>
      <%= f.input :size %>
      <%= f.input :colour %>
      <%= f.input :style, placeholder: "eg. slim fit, tuxedo, double-breasted" %>
      <%= f.input :occasion, collection: [ "Interview", "Funeral", "Wedding", "Party", "Date"]%>
      <%= f.input :price, label: "Price per day" %>
      <%= f.input :brand %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Submit", class: "btn btn-orange" %>
    <% end %>
  </div>
</div>
