
<p id="notice"><%= notice %></p>

<h1>Suits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Style</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suits.each do |suit| %>
      <tr>
        <td><%= suit.name %></td>
        <td><%= suit.brand %></td>
        <td><%= suit.price %></td>
        <td><%= link_to 'Show', suit %></td>
        <td><%= link_to 'Edit', edit_suit_path(suit) %></td>
        <td><%= link_to 'Destroy', suit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suit', new_suit_path %>