<!-- create a header and add a nav bar -->
<h1>My Suits</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Style</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @suits.each do |suit| %>
        <tr>
          <td><%= suit.name %></td>
          <td><%= suit.brand %></td>
          <td><%= suit.price %></td>
          <td><%= suit.style  %></td>
          <td><%= link_to 'Show', suit %></td>
          <td><%= link_to 'Edit', edit_suit_path(suit) %></td>
          <td><%= link_to 'Destroy', suit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="navigation">
  <p><%= link_to 'New Suit', new_suit_path %> </p>
  <p><%= link_to "Back to home page", root_path %> </p>
</div>

<!-- add a footer -->
