<!-- create a header and add a nav bar -->

<h1>Edit your booking</h1>

<div class="form">
  <%= simple_form_for [ @suit, @booking ] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :status, collection: ["ordered", "approved", "shipped", "delivered"]%>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="navigation">
  <p><%= link_to "Back", booking_path(@booking) %></p>
</div>
<!-- add a footer -->
