<div class="container">
  <h1>Edit your booking</h1>

  <div class="style-form">
    <div class="form">
      <%= simple_form_for [ @suit, @booking ] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.input :status, as: :radio_buttons, input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item',
                    collection: ["Ordered", "Approved", "Shipped", "Delivered"]%>
        <%= f.submit "Submit", class: "btn btn-orange" %>
      <% end %>
    </div>
  </div>
  <div class="navigation">

    <p><%= link_to booking_path(@booking), class: "btn btn-gray" do%>
      <i class="fas fa-arrow-circle-left"></i><span> Back</span>
    <% end %>
    </p>
  </div>
</div>
