<!-- create a header and add a nav bar -->
<div class="container">
  <div>
    <h1> Booking Overview </h1>
  </div>

  <div class="container">
    <h3> Suits I'm Borrowing </h3>
    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
        <div class="card-product">
          <img src="https://pngimg.com/uploads/suit/suit_PNG93235.png" />
          <div class="card-product-infos">
            <h2><%= booking.suit.name %></h2>
            <p>Status: <%= booking.status  %></p>
            <p>Suit will be lent between <em><%= booking.start_date %></em> and <em><%= booking.end_date %></em></p>
            <p> </p>
            <div class="d-flex booking-btns">
              <%= link_to "Show details", booking, class: "btn btn-orange mr-5" %>
              <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-gray mr-1" %>
              <%= link_to 'Delete booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-gray" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container mt-5">
    <h3> Suits I'm Lending </h3>
    <% @bookings.each do |booking| %>
      <% if booking.suit.user_id == current_user.id  %>
        <div class="card-product">
          <img src="https://pngimg.com/uploads/suit/suit_PNG93235.png" />
          <div class="card-product-infos">
            <h2><%= booking.suit.name %></h2>
            <p>Status: <%= booking.status  %></p>
            <p>Suit will be lent between <em><%= booking.start_date %></em> and <em><%= booking.end_date %></em></p>
            <div class="d-flex booking-btns">
              <%= link_to "Show details", booking, class: "btn btn-orange mr-5" %>
              <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-gray mr-1" %>
              <%= link_to 'Delete booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-gray" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="navigation-bar mt-3">
    <p><%= link_to root_path, class:"btn btn-gray" do%> <i class="fas fa-arrow-circle-left"></i><span> Back to homepage</span>
    <% end %> </p>
  </div>
</div>
