<%= simple_form_for [ @suit, @booking ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :status %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "Back", suit_path(@suit) %></p>
