<div class="container">
  <div class="form">
    <%= simple_form_for [ @suit, @booking ] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit "Submit", class: "btn btn-orange" %> <%= link_to suit_path(@suit), class:"btn btn-gray" do%> <i class="fas fa-arrow-circle-left"></i><span> Back </span>
    <% end %>
    <% end %>
  </div>
</div>
