<div class="container ">
  <div>
    <div class="order-details">
      <p>Status: <%= @booking.status %></p>
      <p>Start date: <%= @booking.start_date %> </p>
      <p>End date: <%= @booking.end_date %> </p>
      <p>Price: £<%= @booking.total_cost %></p>
    </div>
    <div class="navigation">
      <p><%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-orange" %> <%= link_to "Delete", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-orange" %> <%= link_to "Back", bookings_path, class: "btn btn-orange" %></p>
    </div>
  </div>
</div>

