<div class="navbar fixed-top navbar-lewagon navbar-collapse">
  <div class="main-logo d-flex align-self-stretch">
    <%= link_to root_path, class: "d-flex" do %>
      <img id="logo" src="https://pngimg.com/uploads/suit/suit_PNG93235.png"height="40px">
      <h3 class="logo-text"> SuitsYou </h3>
    <% end %>
  </div>
<!--    <div class="right-icons"> -->
    <div class="header-main-logo d-flex align-self-stretch align-items-center justify flex-equal">
      <div class="search-module d-flex flex-column align-self-stretch">
         <%= form_tag suits_path, method: :get, class: "d-flex" do %>
           <%= text_field_tag :query,
             params[:query],
             class: "form-control",
           placeholder: "Find a suit"
           %>
           <%= submit_tag "Go!", class: "btn btn-orange" %>
         <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="align-self-stretch d-flex flex-equal">
        <%= link_to 'Browse Suits', suits_path, class: "btn btn-gray" %>
        <div class="nav-item dropdown">
          <%= image_tag "https://4.imimg.com/data4/CQ/WI/MY-2290515/stylish-mens-suits-500x500.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Lend A Suit", new_suit_path, class: "dropdown-item" %>
            <%= link_to "My Profile", "#", class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
       </div>
    <% else %>
       <div class="justify-content-end align-self-stretch d-flex flex-equal">
          <%= link_to 'Browse Suits', suits_path, class: "btn btn-gray" %>
          <%= link_to 'Login', new_user_session_path, class: "btn btn-orange" %>
      </div>
    <% end %>
<!--     </div> -->
</div>
