<div class="navbar fixed-top navbar-lewagon navbar-collapse">
  <div class="main-logo d-flex align-self-stretch align-items-center justify flex-equal">
    <%= link_to root_path do %>
      <img id="logo" src="https://pngimg.com/uploads/suit/suit_PNG93235.png"height="40px">
    <% end %>
  </div>
<!--    <div class="right-icons"> -->
    <div class="header-main-logo d-flex align-self-stretch align-items-center justify flex-equal">
      <div class="search-module d-flex align-self-stretch">
         <%= form_tag suits_path, method: :get do %>
           <%= text_field_tag :query,
             params[:query],
             class: "form-control",
           placeholder: "Find a suit"
           %>
         <% end %>
      </div>
    </div>
    <!-- <div class="justify-content-end align-self-stretch d-flex flex-equal">
      <button type="button" class="btn btn-border">Account</button>
    </div> -->
    <% if user_signed_in? %>
      <div class="align-self-stretch d-flex flex-equal">
        <%= link_to 'Browse Suits', suits_path, class: "btn btn-gray" %>
        <div class="nav-item dropdown">
          <%= image_tag "https://static.wikia.nocookie.net/how-i-met-your-mother/images/0/0a/Square_Barney.png/revision/latest/scale-to-width-down/340?cb=20111107181345&path-prefix=de", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Lend A Suit", new_suit_path, class: "dropdown-item" %>
            <%= link_to "My Profile", "#", class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
       </div>
    <% else %>
       <div class="justify-content-end align-self-stretch d-flex flex-equal">
          <%= link_to 'Browse Suits', suits_path, class: "btn btn-gray" %>
          <%= link_to 'Login', new_user_session_path, class: "btn btn-orange" %>
      </div>
    <% end %>
<!--     </div> -->
</div>
