<!DOCTYPE html>
<html>
  <head>
    <title>SuitsYou | Suits for days.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar fixed-top navbar-lewagon navbar-collapse">
      <div class="container">
        <div class="main-logo d-flex align-self-stretch align-items-center justify flex-equal">
          <%= link_to root_path do %>
          <img id="logo" src="https://pngimg.com/uploads/suit/suit_PNG93235.png"height="40px">
          <% end %>
        </div>
        <div class="header-main-logo d-flex align-self-stretch align-items-center justify flex-equal">
          <div class="search-module d-flex align-self-stretch">
             <%= form_tag suits_path, method: :get do %>
             <%= text_field_tag :query,
               params[:query],
               class: "form-control",
             placeholder: "Find a suit"
             %>
             <% end %>
              </button>
          </div>
        </div>
        <!-- <div class="justify-content-end align-self-stretch d-flex flex-equal">
          <button type="button" class="btn btn-border">Account</button>
        </div> -->
         <div class="justify-content-end align-self-stretch d-flex flex-equal">
          <%= link_to 'Browse Suits', suits_path, class: "btn btn-gray" %>
          <%= link_to 'Login', new_user_session_path, class: "btn btn-orange" %>
        </div>
      </div>
    </div>
    <div class="pt-5 full-page">
      <%= yield %>
    </div>
    <footer id="main-footer">
      <div class="social-media">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </footer>
  </body>
</html>

